# ============================================
# OS & Editor Junk
# ============================================
*.log
*.swp
*.swo
*~
.DS_Store
Thumbs.db
.fleet
.idea
.nova
.vscode
.zed

# ============================================
# Laravel
# ============================================
/vendor
/node_modules

# Laravel Mix / Vite builds
/public/build
/public/hot

# Storage (hanya keep .gitignore file)
public/storage
/storage/*
!/storage/.gitignore

# Laravel caches & compiled
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/storage/framework/testing
/storage/logs
/bootstrap/cache/*.php

# Laravel environment & test configs
.env
.env.*
!.env.example
.phpunit.result.cache
.phpunit.cache
.phpactor.json
Homestead.yaml
Homestead.json
auth.json